html, body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons {
  position: absolute;
  top: 400px;
  width: 100%;
  text-align: center;
}

.buttons button {
  width: 40px;
  height: 40px;
  margin: 4px;
  font-size: 22px;
  padding: 0;
  border: none;
  background: rgb(94, 112, 99);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
