html, body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons {
  position: absolute;
  top: 400px;
  width: 100%;
  text-align: center;
}

.buttons button {
  width: 40px;
  height: 30px;
  margin: 5px;
  font-size: 22px;
  padding: 0, 0, 2;
  border: none;
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
